/* ### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%) 
*/


*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    font-family: Montserrat;
    font-size: 14px;
    margin: 10px;
}

h1{
    font-family: Fraunces;
    margin-right: 10px;
    margin-left: 10px;

}

.card{
    display: flex;
    flex-direction: column;
    width : 350px;
}


.card-content{
    background-color: hsl(0, 0%, 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    padding : 10px;
    display: flex;
    flex-direction: column;
}

.prod{
    color:  hsl(212, 21%, 14%);
}
.prod-descr{
    font-size: 15px;
    line-height: 1.8;
}
.prices{
    display:flex;
    justify-content:flex-start;
    align-items: center;

}
.prices > h1{
    color : hsl(158, 36%, 37%);
}
.btn{
    background-color: hsl(158, 36%, 37%);
    color : white;
    border : none;
    outline: none;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin : 15px;
}

.btn > img{
    margin-right: 8px;
}

.btn:hover{
    background-color:  hsl(158, 31%, 16%);
    cursor: pointer;
}

@media screen and (min-width:650px){
    
    .card{
       display: flex;
       flex-direction: row;
       width : 500px;
       height: 450px;
    }
    .desktop-img{
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }

    .mobile-img{
        display: none;
    }
    .card-content{
        background-color: hsl(0, 0%, 100%);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px ;
        width:600px;
        padding : 25px;
        display: flex;
        flex-direction: column;
        width: 310px;
    }
}

@media screen and (min-width:350px) and (max-width:649px){
    .desktop-img{
        display:none;
    }
    .mobile-img{
        border-radius : 10px 10px 0 0;
    }
}

/* .desktop-card{
    display: flex;
    height: 450px;
}

.desktop-card-image{
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.desktop-card-content{
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px ;
    padding : 25px;
    display: flex;
    flex-direction: column;
    width: 310px;
} */